* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
}

/* IMAGES FOR REFERENCE */
.imgDiv {
  position: absolute;
  z-index: -1;
}

/* HEADER DIV */
.imgDiv img {
  width: 100%;
  display: block;
}

.headerTopDiv {
  height: 48px;
  width: 100%;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  background-color: #212121;
}

.phoneDiv {
  height: 100%;
  width: 510px;
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.phoneDiv P {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1PX;
  color: rgb(255, 255, 255);
}

.callBtn {
  margin-left: 10px;
  height: 28px;
  width: 110px;
  color: #ffff;
  background-color: #A2D84C;
  border: none;
  outline: none;
  border-radius: 5px;
}

.socialIconsDiv {
  height: 100%;
  width: 220px;
  background-color: #212121;
  display: flex;
  align-items: center;
  padding-left: 28px;
  gap: 11px;
}

.iconsFrame {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #303030;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar img {
  width: 149px;
  margin-left: 36px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.navBar {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
}

.navList {
  height: 100%;
  width: 867px;
  display: flex;
  align-items: center;
  gap: 24px;

}

.navList li {
  list-style: none;
}

.navList li a {
  font-size: 16px;
  font-weight: 600;
  color: #3d3d3d;
  text-decoration: none;

  &:hover {
    color: #FF831D;
  }
}

/* HEADER SLIDER IMAGES */
.sliderImgDiv {
  width: 100%;
  height: 525px;
  text-align: center;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.leftDiv {
  height: 73px;
  width: 347px;
  background-color: #A2D84C;
}

.rightDiv {
  height: 73px;
  width: 347px;
  background-color: #A2D84C;
}

.imgContent h1 {
  font-size: 69px;
  color: #ffffff;
}

.imgContent {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 160px;
  left: 0;
}

.imgContenttop {
  display: flex;
  justify-content: space-between;
}

.imgBottom {
  width: 100%;
  height: 141px;
  margin-top: 28px;
  text-align: center;
}

.imgBottom pre {
  font-size: 22px;
  color: rgb(255, 255, 255);
}

.btnDiv button {
  margin-top: 40px;
  font-size: 18px;
  padding: 12px 41px;
  border: none;
  outline: none;
  background-color: #FEBD19;
  font-weight: 600;
  border-radius: 6px;
}

/* OUR ADVATANGES  */

.advantageDiv {
  width: 100%;
  height: 470px;
  background-color: #ffff;
  border: 2px solid transparent;

}

.advantageTop {
  width: 100%;
  height: 130px;
  text-align: center;
}

.advantageTop h1 {
  margin-top: 30px;
  font-size: 45px;
  color: #668E19;
}

/* SP1 CLASS FOR BLACK H1 IN ALL SESSIONS */

.sp1 {
  color: black;
}

.advantageTop pre {
  margin-top: 10px;
  color: #BCBDC1;
}

.bottomIconsDiv {
  width: 100%;
  height: 263px;
  margin: auto;
  margin-top: 9px;
  display: flex;
  padding-left: 78px;
  gap: 36px;
}

.IconsDiv {
  height: 100%;
  width: 200px;
  border: 2px solid transparent;
  text-align: center;

  & :hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
  }
}

.roundDiv {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: auto;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconsHeading {
  margin-top: 18px;
  font-size: 18px;
}

.IconsDiv p {
  color: #BCBDC1;
  font-size: 15px;
}

/* ABOUT US DIV */
.aboutUsDiv {
  width: 100%;
  height: 500px;
  border: 0.5px solid rgb(255, 255, 255);
}


.aboutUsDiv h1 {
  margin-top: 30px;
  font-size: 45px;
  color: #668E19;
}

.paraDiv {
  height: 225px;
  width: 510px;
  margin-top: 32px;
  margin-left: 80px;
  font-size: 12px;
  font-weight: 600;
  color: #231F20;
}

.aboutUsDiv .btnDiv button {
  margin-left: 80px;
}

/* OUR SERVICES DV */
.servicesDiv {
  width: 100%;
  height: 470px;
  background-color: white;
  border: 1px solid white;
}

.servicesDiv h1 {
  margin-top: 30px;
  font-size: 45px;
  color: #668E19;
  text-align: center;
}

.sp1 {
  color: black;
}

.servicesDiv pre {
  margin-top: 10px;
  color: #BCBDC1;
}

.servicesBottomDiv {
  width: 100%;
  height: 340px;
  display: flex;
  padding-left: 80px;
  gap: 15px;

  & :hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
  }
}

.starCard {
  background-color: #F2F2F2;
  border-radius: 6px;
  margin-top: 65px;
  height: 215px;
  width: 284px;
  position: relative;
  text-align: center;
  border: 2px solid transparent;

}

.starCircle {
  position: absolute;
  top: -38px;
  left: 100px;
  height: 76px;
  width: 76px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEBD19;
}

.starCard h1 {
  font-size: 16px;
  margin-top: 68px;
  color: black;
}

.starCard pre {
  margin-top: 8px;
  color: #a5a3a3;
  font-weight: 500;
  margin-bottom: 14px;
  font-size: 14px;
}

.starCard a {
  font-size: 18px;
  color: #B1D782;
}

/* PORTFOLIO DIV */
.portfolioDiv {
  width: 100%;
  height: 735px;
  border: 2px solid transparent;
  background-color: black;
}

.portfolioTopDiv {
  width: 100%;
  height: 200px;
  border: 2px solid transparent;
  text-align: center;
}

.portfolioDiv h1 {
  margin-top: 35px;
  font-size: 45px;
  color: #668E19;
  text-align: center;
}

.portfolioDiv .sp1 {
  color: rgb(255, 255, 255);
}

.portfolioDiv pre {
  margin-top: 10px;
  color: #aaa9a9;
}

.portfolioNav ul {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  gap: 20px;
  padding: 22px;
}

.portfolioNav ul li {
  list-style: none;
  display: inline-block;
}

.portfolioNav ul li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: #FF831D;
  }
}

.portfolioBottomDiv {
  width: 100%;
  height: 465px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;

}

.portfolioBottomDiv .portfoliocards {
  width: 233px;
  height: 233px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfoliocards :hover {
  background-color: #EF4136;
}

.processDiv {
  width: 100%;
  height: 510px;
  background-color: white;
  border: 2px solid transparent;
}

.processDiv h1 {
  margin-top: 80px;
  font-size: 45px;
  color: #668E19;
  text-align: center;
}


.processDiv pre {
  margin-top: 10px;
  color: #BCBDC1;
}

.ProcessBottom {
  width: 1173px;
  height: 248px;
  margin-top: 60px;
  border: 2px solid transparent;
  margin: auto;
  margin-top: 32px;
  display: flex;
  gap: 60px;
  overflow: hidden;


}

.ProcessIcons {
  width: 145px;
  height: 100%;
  background-color: white;
}

.ProcessCircle {
  width: 145px;
  height: 145px;
  border: 4px solid rgb(206, 205, 205);
  border-radius: 50%;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
}

.numCircleDiv {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px;
  top: -20px;
  background-color: #FEBD19;
}

.ProcessIcons h4 {
  font-size: 17px;
  margin-top: 18px;
  color: #0F0F0F;
}

.ProcessIcons p {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  color: #bebebe;
}

.ProcessCircle::after {
  content: "";
  position: absolute;
  left: 137px;
  height: 3px;
  width: 64px;
  background-color: #CECDCD;

}

/* PEOPLE ABOUT US */

.peopleAbout {
  width: 100%;
  height: 544px;
  background-color: #F1F2F2;
  text-align: center;
  border: 1px solid transparent;
  justify-content: center;
}

.peopleAbout h1 {
  margin-top: 35px;
  font-size: 45px;
  color: #668E19;
  text-align: center;
}

.peopleAbout pre {
  margin-top: 10px;
  color: #BCBDC1;
}

.peopleAboutBottom {
  height: 264px;
  width: 1044px;
  margin: auto;
  margin-top: 37px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  border: 2px solid transparent;
}

.peopleAboutReview {
  height: 130px;
  width: 520px;
}

.peopleProfile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
margin-top: 15px;
margin-left: 20px;

}

.peopleProfile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.peopleAboutReview h1 {
  color: #424242;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-right: 270px;

}

.profileText {
  height: 100%;
  width: 370px;
  margin-left: 117px;
  margin-top: -100px;
  text-align: left;

}

.profileText pre {
  color: #50504f;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
}

/* SKILLS DIV */
.skillsDiv {
  width: 100%;
  height: 490px;
  border: 2px solid transparent;
  text-align: center;
  background-color: white;
}

.skillsDiv h1 {
  margin-top: 35px;
  font-size: 45px;
  color: #668E19;
  text-align: center;
}

.skillsDiv pre {
  margin-top: 10px;
  color: #BCBDC1;
}

/* OUR PROGRESS DIV */
.progressDiv {
  height: 245px;
  width: 967px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  gap: 67px;
  background-color: white;

}

.progressCard {
  height: 100%;
  width: 188px;
  text-align: center;
  border: 2px solid transparent;
}

.progressCard h1 {
  color: black;
  font-size: 17px;
  font-weight: 600;
}


.circleBorder {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.circleBorderTop {
  width: 195px;
  height: 195px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(transparent 0%, transparent 56%, black 50%, black 100%);
}

.innerBorder {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

/* PROJECT DIV */

.projectDiv {
  width: 100%;
  height: 340px;
  border: 2px solid transparent;
  text-align: center;
  background-color: #8EC63F;
  ;
}

.projectDiv h1 {
  color: rgb(253, 253, 253);
  margin-top: 45px;
  font-size: 62px;
}

.projectInputDiv {
  width: 1020px;
  height: 56px;
  border: 2px solid transparent;
  margin: auto;
  margin-top: 35px;
  text-align: left;
  gap: 20px;
  display: flex;

}

.projectInputDiv input {
  height: 100%;
  width: 245px;
  border: none;
  border-radius: 4px;
  padding: 20px;
  font-size: 18px;
  color: #9e9e9e;
}

.projectInputDiv button {
  font-size: 15px;
  padding: 12px 41px;
  border: none;
  outline: none;
  background-color: #FEBD19;
  font-weight: 600;
  border-radius: 6px;
  margin-left: 20px;
}

.projectDiv pre {
  color: rgb(255, 255, 255);
  margin-top: 33px;
  font-weight: 500;
}

/* CONTACT DIV */
.contactDiv {
  width: 100%;
  height: 650px;
  border: 2px solid transparent;
  text-align: center;
  background-color: white;
  justify-content: center;
}

.contactDiv h1 {
  margin-top: 35px;
  font-size: 45px;
  color: #668E19;
  text-align: center;
}

.contactDiv pre {
  margin-top: 10px;
  color: #BCBDC1;
}

.contactParaIcon {
  display: flex;
  border: 2px solid transparent;
  width: 950px;
  margin: auto;
  margin-top: 25px;
}

.contactDiv .contactH1 {
  font-size: 22px;
  color: rgb(22, 22, 22);
  margin: auto;
  font-weight: 500;
}

.contactPhoneDiv {
  display: flex;
  height: 28px;
  border: 2px solid transparent;
  width: 815px;
  margin: auto;
  margin-top: 5px;

}

.contactIcon {
  margin-left: 72px;
}

.contactPhoneDiv p {
  font-size: 22px;
  margin-left: 12px;
  margin-right: 20px;
}

/* MAP DIV */
.mapDiv iframe {
  width: 100%;
  height: 380px;
  border: 2px solid rgb(88, 51, 255);
  margin-top: 40px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 365px;
  border: 2px solid transparent;
  background-color: #678E19;
  padding-top: 55px;
  display: flex;
}

.footerFirstDiv {
  width: 230px;
  height: 250px;
  margin-left: 90px;
}

.footerFirstDiv img {
  width: 150px;
  height: 75px;
}

.footerFirstDiv p {
  padding-top: 10px;
  color: white;
  font-weight: 500;
}

.copyright {
  font-size: 20px;
  margin-top: 55px;
}

.footerSecondDiv {
  height: 248px;
  width: 208px;
  background-color: #668F19;
  margin-left: 125px;
  border-right: 2px solid #90c738;
}

.footerSecondDiv h1 {
  color: #ffffff;
  font-size: 25px;
  margin: auto;
  margin-top: -4px;
  text-align: left;
  padding-bottom: 25px;
}

.footerSecondDiv ul li {
  list-style: none;
  padding-bottom: 11px;
}

.footerSecondDiv a {
  color: white;
  font-size: 14px;
}

.footerThirdDiv {
  height: 248px;
  width: 225px;
  background-color: transparent;
  margin-left: 70px;
  border-right: 2px solid #90c738;
}

.footerThirdDiv h1 {
  color: #ffffff;
  font-size: 25px;
  margin: auto;
  margin-top: -4px;
  text-align: left;
  padding-bottom: 25px;
}

.footerThirdDiv ul li {
  list-style: none;
  padding-bottom: 11px;
}

.footerThirdDiv a {
  color: white;
  font-size: 14px;

}

.footerForthDiv {
  height: 248px;
  width: 225px;
  background-color: transparent;
  border: 2px solid transparent;
  margin-left: 70px;
}

.footerForthDiv h1 {
  color: #ffffff;
  font-size: 25px;
  margin: auto;
  margin-top: -4px;
  padding-bottom: 25px;
  text-align: left;
}

.footerForthDiv .ph1 {
  padding-left: 25px;
  margin-top: -22px;
  color: white;
}

.footerForthDiv .phoneIcon1 {
  margin-left: 3px;
  margin-top: -36px;
}

.footerForthDiv .ph2 {
  padding-left: 25px;
  margin-top: -24px;
  color: white;
}

.footerForthDiv .phoneIcon2 {
  margin-left: 3px;
  margin-top: 6px;
}

.footerForthDiv .ph3 {
  padding-left: 29px;
  margin-top: -22px;
  color: rgb(250, 250, 250);
}

.footerForthDiv .phoneIcon3 {
  margin-left: 3px;
  margin-top: 12px;
  width: 20px;
  height: 20px;
}

#CH1 {
  margin-top: 40px;
  color: #ffffff;
  margin-left: 6PX;
}

.socialIconsForthDiv {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 6px;
  gap: 11px;
  margin-top: -7px;
}